.rollable {
  position: relative;
  transition: all ease-in-out 0.1s;
  cursor: pointer;

  &::before {
    @include fa-icon;
    content: fa-content($fa-var-dice-d20);
    margin-right: $padding-sm;
    color: $c-blue;
  }

  &:hover {
    color: $c-blue;
    text-shadow: 0 0 5px rgba($c-blue, 0.5);
  }

  &.hide-icon {
    &::before {
      display: none;
    }
  }

  &.rollable--message {
    &::before {
      content: fa-content($fa-var-comment);
    }
  }
}

.rollable--init {
  text-align: center;
  margin: $padding-sm auto;
  font-size: $font-md;
  font-family: $font-stack-secondary;
}