<div class="archmage chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <header class="card-header flexrow">
      <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
      <h3 class="ability-usage ability-usage--{{data.powerUsage.value}}">{{item.name}}</h3>
  </header>

  <div class="card-content">
      <div class="card-row">
          {{#if data.description.value}}
              <div class="card-row card-row-description">
                  {{{data.description.value}}}
              </div>
          {{/if}}
      </div>
  </div>

  <footer class="card-footer">
      {{#each data.tags}}
      <span>{{this.value}}</span>
      {{/each}}
  </footer>
</div>
