<div class="archmage chat-card">
  <header class="card-header flexrow">
    <img src="{{actor.img}}" title="{{actor.name}}" width="36" height="36"/>
    <h3 class="ability-usage ability-usage--recharge">{{label}}</h3>
  </header>
  <div class="card-content">
    <div class="card-row">
      <div class="card-prop"><strong>Recovery:</strong> [[{{formula}}]]</div>
    </div>
  </div>
</div>
