<div class="archmage chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">{{{data.description.value}}}</div>

    <!-- <div class="card-buttons"> -->
        <!-- <button data-action="toolCheck" data-ability="{{data.ability.value}}">Use {{item.name}}</button> -->
    <!-- </div> -->

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
