<form class="archmage item-sheet spell-sheet power-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="44" width="44"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/></h1>
    </header>

    <article class="sheet-content">
        <!-- ITEM SHEET SIDEBAR -->
        {{#if hasSidebar}}
        <section class="sheet-sidebar">
            {{> (sidebarTemplate)}}
        </section>
        {{/if}}

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize 'ARCHMAGE.description'}}</a>
                <a class="item" data-tab="details">{{localize 'ARCHMAGE.details'}}</a>
            </nav>

            <div class="sheet-tabs-content">
              <!-- Ability Description -->
              <div class="tab" data-group="primary" data-tab="description">
                  {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
              </div>

              <!-- Ability Details -->
              <div class="tab archmage-aip" data-group="primary" data-tab="details">

                <div class="form-group">
                    <label>{{localize 'ARCHMAGE.CHAT.group'}}</label>
                    <input type="text" name="system.group.value" value="{{system.group.value}}" data-dtype="{{system.group.type}}" placeholder="Things with the same group will be grouped together"/>
                </div>

                <div class="form-group">
                    <label>{{localize 'ARCHMAGE.CHAT.powerOriginName'}}</label>
                    <input type="text" name="system.powerOriginName.value" value="{{system.powerOriginName.value}}" data-dtype="{{system.powerOriginName.type}}" placeholder="Fireball"/>
                  </div>

                <div class="form-group">
                    <label>{{localize 'ARCHMAGE.CHAT.powerSourceName'}}</label>
                    <input type="text" name="system.powerSourceName.value" value="{{system.powerSourceName.value}}" data-dtype="{{system.powerSourceName.type}}" placeholder="Wizard"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerSource'}}</label>
                      <select name="system.powerSource.value" data-dtype="{{system.powerSource.type}}">
                          {{#select system.powerSource.value}}
                          {{#each powerSources as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerType'}}</label>
                      <select name="system.powerType.value" data-dtype="{{system.powerType.type}}">
                          {{#select system.powerType.value}}
                          {{#each powerTypes as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerUsage'}}</label>
                      <select name="system.powerUsage.value" data-dtype="{{system.powerUsage.type}}">
                          {{#select system.powerUsage.value}}
                          <option value="">- None -</option>
                          {{#each powerUsages as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.actionType'}}</label>
                      <select name="system.actionType.value" data-dtype="{{system.actionType.type}}">
                          {{#select system.actionType.value}}
                          <option value="">- None -</option>
                          {{#each actionTypes as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerLevel'}}</label>
                      <input type="text" name="system.powerLevel.value" value="{{system.powerLevel.value}}" data-dtype="{{system.powerLevel.type}}" placeholder="1"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.range'}}</label>
                      <input type="text" name="system.range.value" value="{{system.range.value}}" data-dtype="{{system.range.type}}" placeholder="Melee or Ranged"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.trigger'}}</label>
                      <input type="text" name="system.trigger.value" value="{{system.trigger.value}}" data-dtype="{{system.trigger.type}}" placeholder="Natural even miss"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.target'}}</label>
                      <input type="text" name="system.target.value" value="{{system.target.value}}" data-dtype="{{system.target.type}}" placeholder="[[1d3]] nearby enemies"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.always'}}</label>
                      <input type="text" name="system.always.value" value="{{system.always.value}}" data-dtype="{{system.always.type}}" placeholder="Some effect that always happens"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.attack'}}</label>
                      <input type="text" name="system.attack.value" value="{{system.attack.value}}" data-dtype="{{system.attack.type}}" placeholder="[[d20+@str.mod+@lvl+@ed]] vs. AC"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.hit'}}</label>
                      <input type="text" name="system.hit.value" value="{{system.hit.value}}" data-dtype="{{system.hit.type}}" placeholder="[[@wpn.m.dice+@str.dmg]] damage"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.hitEven'}}</label>
                      <input type="text" name="system.hitEven.value" value="{{system.hitEven.value}}" data-dtype="{{system.hitEven.type}}" placeholder=""/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.hitOdd'}}</label>
                      <input type="text" name="system.hitOdd.value" value="{{system.hitOdd.value}}" data-dtype="{{system.hitOdd.type}}" placeholder=""/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.crit'}}</label>
                      <input type="text" name="system.crit.value" value="{{system.crit.value}}" data-dtype="{{system.crit.type}}" placeholder="Additional effects on a crit"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.miss'}}</label>
                      <input type="text" name="system.miss.value" value="{{system.miss.value}}" data-dtype="{{system.miss.type}}" placeholder="Damage equal to your level ([[@lvl]])"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.missEven'}}</label>
                      <input type="text" name="system.missEven.value" value="{{system.missEven.value}}" data-dtype="{{system.missEven.type}}" placeholder=""/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.missOdd'}}</label>
                      <input type="text" name="system.missOdd.value" value="{{system.missOdd.value}}" data-dtype="{{system.missOdd.type}}" placeholder=""/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sustainOn'}}</label>
                      <input type="text" name="system.sustainOn.value" value="{{system.sustainOn.value}}" data-dtype="{{system.sustainOn.type}}" placeholder="Numbers only, such as '16'"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.recharge'}}</label>
                      <input type="text" name="system.recharge.value" value="{{system.recharge.value}}" data-dtype="{{system.recharge.type}}" placeholder="Numbers only, such as '16'"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.cost'}}</label>
                      <input type="text" name="system.cost.value" value="{{system.cost.value}}" data-dtype="{{system.cost.type}}" placeholder="2 command points"/>
                  </div>

                  <div class="form-group">
                      <label>Uses Remaining</label>
                      <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="{{system.quantity.type}}" placeholder="Number of remaining uses, usually the same as Max Uses"/>
                  </div>

                  <div class="form-group">
                      <label>Max Uses</label>
                      <input type="text" name="system.maxQuantity.value" value="{{system.maxQuantity.value}}" data-dtype="{{system.maxQuantity.type}}" placeholder="Number of uses per battle/day, usually 1"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.special'}}</label>
                      {{editor system.special.value target="system.special.value" button=true owner=owner editable=editable}}
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.effect'}}</label>
                      {{editor system.effect.value target="system.effect.value" button=true owner=owner editable=editable}}
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.castBroadEffect'}}</label>
                      <textarea class="attribute-value" name="system.castBroadEffect.value" rows="5" title=""
                      data-dtype="{{system.castBroadEffect.type}}">{{#if system.castBroadEffect.value}}{{system.castBroadEffect.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.castPower'}}</label>
                      <textarea class="attribute-value" name="system.castPower.value" rows="5" title=""
                      data-dtype="{{system.castPower.type}}">{{#if system.castPower.value}}{{system.castPower.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sustainedEffect'}}</label>
                      <textarea class="attribute-value" name="system.sustainedEffect.value" rows="5" title=""
                      data-dtype="{{system.sustainedEffect.type}}">{{#if system.sustainedEffect.value}}{{system.sustainedEffect.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.finalVerse'}}</label>
                      <textarea class="attribute-value" name="system.finalVerse.value" rows="5" title=""
                      data-dtype="{{system.finalVerse.type}}">{{#if system.finalVerse.value}}{{system.finalVerse.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellChain'}}</label>
                      <textarea class="attribute-value" name="system.spellChain.value" rows="5" title=""
                      data-dtype="{{system.spellChain.type}}">{{#if system.spellChain.value}}{{system.spellChain.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.breathWeapon'}}</label>
                      <textarea class="attribute-value" name="system.breathWeapon.value" rows="5" title=""
                      data-dtype="{{system.breathWeapon.type}}">{{#if system.breathWeapon.value}}{{system.breathWeapon.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel3'}}</label>
                      <input type="text" name="system.spellLevel3.value" value="{{system.spellLevel3.value}}" data-dtype="{{system.spellLevel3.type}}" placeholder="[[3d6]] damage"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel5'}}</label>
                      <input type="text" name="system.spellLevel5.value" value="{{system.spellLevel5.value}}" data-dtype="{{system.spellLevel5.type}}" placeholder="[[5d6]] damage"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel7'}}</label>
                      <input type="text" name="system.spellLevel7.value" value="{{system.spellLevel7.value}}" data-dtype="{{system.spellLevel7.type}}" placeholder="[[7d6]] damage"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel9'}}</label>
                      <input type="text" name="system.spellLevel9.value" value="{{system.spellLevel9.value}}" data-dtype="{{system.spellLevel9.type}}" placeholder="[[9d6]] damage"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.rollTable'}}</label>
                      <input type="text" name="system.rollTable.value" value="{{system.rollTable.value}}" data-dtype="{{system.rollTable.type}}" placeholder="Sneak Attack"/>
                  </div>

                  <details class="form-details" open="true">
                      <summary>{{localize 'ARCHMAGE.feats'}}</summary>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.adventurer'}}</label>
                          <input type="checkbox" name="system.feats.adventurer.isActive.value" value="1" data-dtype="Boolean" {{checked system.feats.adventurer.isActive.value}}/>
                      </div>
                      <div class="form-group">
                          <details class="form-details">
                              <summary>{{localize 'ARCHMAGE.CHAT.adventurerDescription'}}</summary>
                              {{editor system.feats.adventurer.description.value target="system.feats.adventurer.description.value" button=true owner=owner editable=editable}}
                          </details>
                      </div>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.champion'}}</label>
                          <input type="checkbox" name="system.feats.champion.isActive.value" value="1" data-dtype="Boolean" {{checked system.feats.champion.isActive.value}}/>
                      </div>
                      <div class="form-group">
                          <details class="form-details">
                              <summary>{{localize 'ARCHMAGE.CHAT.championDescription'}}</summary>
                              {{editor system.feats.champion.description.value target="system.feats.champion.description.value" button=true owner=owner editable=editable}}
                          </details>
                      </div>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.epic'}}</label>
                          <input type="checkbox" name="system.feats.epic.isActive.value" value="1" data-dtype="Boolean" {{checked system.feats.epic.isActive.value}}/>
                      </div>
                      <div class="form-group">
                          <details class="form-details">
                              <summary>{{localize 'ARCHMAGE.CHAT.epicDescription'}}</summary>
                              {{editor system.feats.epic.description.value target="system.feats.epic.description.value" button=true owner=owner editable=editable}}
                          </details>
                      </div>
                  </details>

                  {{#if sequencerEnabled }}
                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sequencerSelf'}}</label>
                      <input type="text" name="system.sequencer.self" value="{{system.sequencer.self}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Generic/UI/IconSnowflake_01_Regular_Blue_200x200.webm"/>
                  </div>
                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sequencerRay'}}</label>
                      <input type="text" name="system.sequencer.ray" value="{{system.sequencer.ray}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Cantrip/Ray_Of_Frost/RayOfFrost_01_Regular_Blue_30ft_1600x400.webm"/>
                  </div>
                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sequencerTarget'}}</label>
                      <input type="text" name="system.sequencer.target" value="{{system.sequencer.target}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Generic/Explosion/Explosion_04_Regular_Blue_400x400.webm"/>
                  </div>
                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sequencerReverse'}}</label>
                      <input type="checkbox" name="system.sequencer.reversed" value="1" data-dtype="Boolean" {{checked system.sequencer.reversed}}/>
                  </div>
                  {{/if}}

                  <!-- <div class="form-group"> -->
                  <div class="form-group form-group-stacked power-macro-editor {{#if nightmode}}nightmode{{/if}}">
                      <label>{{localize 'ARCHMAGE.CHAT.embeddedMacro'}}</label>
                      <details class="form-details">
                        <summary>{{localize 'ARCHMAGE.CHAT.embeddedMacroSummary'}}</summary>
                        <textarea class="attribute-value" name="system.embeddedMacro.value" rows="20" title=""
                            data-dtype="{{system.embeddedMacro.type}}">{{#if system.embeddedMacro.value}}{{system.embeddedMacro.value}}{{/if}}</textarea>
                      </details>
                  </div>
              </div>
            </div>
        </section>

    </article>
</form>
