.section--backgrounds {
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 4px 0;
  }
}

.background-sign {
  flex: 0;
}

.background-bonus {
  flex: 0 0 28px;
}

.background-name {
  flex: 2;
  font-size: $font-xs;
  font-weight: normal;
  text-align: left;
}